<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>User Editor</title>
</head>

<body>
<h1>User Editor</h1>

<form action="#" th:action="@{/admin/editUser}"  th:object="${user}"  method="post" >
  <div>
    <input type="text" id="id" name="id" th:value="${user.id}">
  </div>
  <div>
    <label for="username">First Name:</label>
    <input type="text" id="username" name="username" th:value="${user.username}">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" th:value="${user.password}">
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" name="eMail" th:value="${user.getEMail()}">
  </div>
  <div>
    <label for="roles">role:</label>
    <select multiple="multiple" type="select" id="roles" name="roles">
      <option th:each="role : ${roles}" th:value="${role.id}" th:utext="${role.name}"></option>
    </select>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>

</body>

</html>