<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>

<body>
<h1>User</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Password</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
    <td th:text="${user.id}" ></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.password}"></td>
    <td th:text="${user.eMail}"></td>
  </tbody>
</table>

<form th:action="@{/logout}" th:method="POST">
  <input type="submit" th:value="Logout"/>
</form>

</body>
</html>